* {
    margin:0;
    Padding:0;
    font-family:Arial, Helvetica, sans-serif;
  }
  /**/
  .timer{
    font-size: 1.5rem;
    color:rgb(28, 245, 172);
    padding: 10px ;
    margin:10px;
    text-align: center;
    background: linear-gradient(315deg, #4c00ff, #ff0058);
  }


  .box1 {
    display: flex;
    flex-direction: row;
    padding: 10px ;
    margin:10px;
    margin:20px;
    background: linear-gradient(315deg, #4c00ff, #ff0058);
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .centredInputBox {
    display: flex;
    flex-direction: row;
    background: linear-gradient(315deg, #4c00ff, #ff0058);
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .gifbox{ 
      display: flex;
      flex-direction: row;
      padding: 10px ;
      margin:10px;
      margin:20px;
      background: linear-gradient(315deg, #4c00ff, #ff0058);
      text-align: center;
      justify-content: center;
      align-items: center;

          
          }
.gifbox .box1{ 
      position: relative;
      flex:0 0 auto;
      height: 300px;
      width: 300px;
      background:whitesmoke;
      box-shadow: -3px -3px 7px #f6a4c1, 
      3px 3px 5px rgba(94, 104, 121, .288) ;
      border-radius: 10px;   
      
}    
  
  .imputbox {
    display: flex;
    flex-direction: row;
    padding: 10px ;
    margin:10px;
    background: linear-gradient(315deg, #ff0058);
    text-align: center;
    justify-content: center; 
    align-items: center;

}
.imputbox .box2{
    position: relative;
    flex:0 0 auto;
    height: 300px;
    width: 300px;
    background:whitesmoke;
    box-shadow: -3px -3px 7px #f6a4c1, 
    3px 3px 5px rgba(94, 104, 121, .288) ;
    border-radius: 10px; 

}

.imputbox .box2 button{
padding: 10px;
margin: 20px;
color: black;
border: none;
border-radius: 7px;
background: linear-gradient(315deg, #ff0058);
box-shadow: -3px -3px 7px rgba(94, 104, 121, .288), 
3px 3px 5px white ;
border-radius: 10px; 
}

  /* Mobile devices */
  @media only screen and (max-width: 767px) {
  
  }
  
  /* Tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  
  }
  
  /* Desktops and laptops */
  @media only screen and (min-width: 1024px) {
  
  }

