* {
  margin:0;
  Padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
/*comments*/

.picbox{ 
    display: flex;
    flex-direction: row;
    padding: 10px ;
    padding-left: 70px;
    margin:20px;
    background: linear-gradient(315deg, #4c00ff, #ff0058);
    text-align: center;
    justify-content: center;
    align-items: center;
        
        }
.picbox .box1{ 
    position: relative;
    flex:0 0 auto;
    height: 300px;
    width: 300px;
    background:whitesmoke;
    box-shadow: -3px -3px 7px #f6a4c1, 
    3px 3px 5px rgba(94, 104, 121, .288) ;
    border-radius: 10px;   
        
}
.picbox .box1 img{
 padding: 10px;
 height:275px;
 width:270px;
 border-radius: 10px;

}

.heading{  
    display: flex;
    flex-direction: row;
    padding: 10px ;
    margin:20px;
    background: linear-gradient(315deg, #4c00ff);
    text-align: center;
    justify-content: center;
    align-items: center;

}
.heading .box0{ 
    position: relative;
    flex:0 0 auto;
    height: 300px;
    width: 300px;
     background:whitesmoke;
    box-shadow: -3px -3px 7px #f6a4c1, 
    3px 3px 5px rgba(94, 104, 121, .288) ;
    border-radius: 10px;    

}

.heading .box0 p{
padding: 10px;
}

.heading .box0 h1{
padding: 10px;
color:rgb(28, 245, 172);
font-family:'Courier New', Courier, monospace;

}

.heading .box0 a{
text-decoration: none;
color: #5705fa;     
} 
.heading .box0 img{
    height:50px;

}
.menubox {
    display: flex;
    flex-direction: row;
    padding: 10px ;
    margin:20px;
    background: linear-gradient(315deg, #ff0058);
    text-align: center;
    justify-content: center; 
    align-items: center;

}
.menubox .box2{
    position: relative;
    flex:0 0 auto;
    height: 300px;
    width: 300px;
    background:whitesmoke;
    box-shadow: -3px -3px 7px #f6a4c1, 
    3px 3px 5px rgba(94, 104, 121, .288) ;
    border-radius: 10px; 

}

.menubox .box2 button{
padding: 10px;
margin: 20px;
color: black;
border: none;
border-radius: 7px;
background: linear-gradient(315deg, #ff0058);
box-shadow: -3px -3px 7px rgba(94, 104, 121, .288), 
3px 3px 5px white ;
border-radius: 10px; 
}

  /* Mobile devices */
  @media only screen and (max-width: 767px) {
  
  }
  
  /* Tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  
  }
  
  /* Desktops and laptops */
  @media only screen and (min-width: 1024px) {
  
  }